{%extends 'basic_app/base.html'%}
{%block title%}
LOGIN
{%endblock%}

{%block body%}
<div class="container mt-4 p-4 bg-light">
  <h1>Please Login</h1>
  <form action="{%url 'basic_app:login'%}" method="post">
    {%csrf_token%}
    <div class="form-group mb-3">
      <label for="uname" class="form-label">Username</label>
      <input id='uname' type="text" name="username" placeholder="enter username" class="form-control" required>

      <label for="psswd" class="form-label">Password</label>
      <input id='psswd' type="password" name="password" placeholder="enter password" class="form-control" required>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    <p class="form-text">click here to <a href="{%url 'basic_app:register'%}">sign up</a></p>
  </form>

</div>

{%endblock%}
